.desktop {
  background-color: #0f1115;
  width: 100%;
  min-width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 76px;
  background-color: #151f3b;
}

.desktop .text-wrapper {
  position: absolute;
  top: 19px;
  left: 120px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  font-weight: 400;
  color: #f9fafb;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  position: absolute;
  width: 0;
  height: 2.73%;
  top: 2.54%;
  left: 84.31%;
}

.desktop .vector {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 82.32%;
  left: 77.32%;
}

.desktop .img {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 82.32%;
  left: 27.32%;
}

.desktop .vector-2 {
  position: absolute;
  width: 85%;
  height: 55%;
  top: 7.32%;
  left: 12.32%;
}

.desktop .vector-3 {
  position: absolute;
  width: 15%;
  height: 10%;
  top: -2.68%;
  left: -2.68%;
}

.desktop .vector-4 {
  position: absolute;
  width: 87.5%;
  height: 20%;
  top: 62.32%;
  left: 0;
}

.desktop .div {
  position: absolute;
  width: 0;
  height: 2.73%;
  top: 2.54%;
  left: 89.72%;
}

.desktop .vector-5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2.68%;
  left: -2.68%;
}

.desktop .vector-6 {
  position: absolute;
  width: 77.29%;
  height: 14.23%;
  top: 64.82%;
  left: 8.68%;
}

.desktop .vector-7 {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 17.32%;
  left: 32.32%;
}

.desktop .group-2 {
  position: absolute;
  width: 0;
  height: 2.73%;
  top: 2.83%;
  left: 78.89%;
}

.desktop .vector-8 {
  position: absolute;
  width: 22.22%;
  height: 22.22%;
  top: 75.1%;
  left: 75.1%;
}

.desktop .vector-9 {
  position: absolute;
  width: 88.89%;
  height: 88.89%;
  top: -2.68%;
  left: -2.68%;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 260px;
  height: 420px;
  background-color: #16203c;
  border-radius: 12px;
}

.desktop .text-wrapper-2 {
  top: 231px;
  left: 164px;
  font-family: 'Manrope-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .text-wrapper-3 {
  top: 580px;
  left: 120px;
  font-family: 'Manrope-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .text-wrapper-4 {
  top: 155px;
  left: 164px;
  font-family: 'Manrope-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .text-wrapper-5 {
  top: 307px;
  left: 164px;
  font-family: 'Manrope-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .element {
  position: absolute;
  top: 120px;
  left: 690px;
  width: 630px;
  height: 420px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 120px;
  left: 426px;
  width: 264px;
  height: 420px;
  background-color: #070917;
  border-radius: 12px 0px 0px 12px;
}

.desktop .text-wrapper-6 {
  top: 155px;
  left: 462px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 56px;
  line-height: 64px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .p {
  top: 300px;
  left: 462px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 25px;
  line-height: 64px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 431px;
  left: 462px;
  width: 188px;
  height: 48px;
  background-color: #f87171;
  border-radius: 12px;
}

.desktop .text-wrapper-7 {
  top: 423px;
  left: 485px;
  font-family: 'Space Grotesk-Regular', Helvetica;
  color: #ffffff;
  font-size: 20px;
  line-height: 64px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .ellipse {
  top: 172px;
  position: absolute;
  left: 148px;
  width: 10px;
  height: 10px;
  background-color: #09ccc7;
  border-radius: 5px;
}

.desktop .ellipse-2 {
  top: 248px;
  position: absolute;
  left: 148px;
  width: 10px;
  height: 10px;
  background-color: #09ccc7;
  border-radius: 5px;
}

.desktop .ellipse-3 {
  top: 325px;
  position: absolute;
  left: 148px;
  width: 10px;
  height: 10px;
  background-color: #09ccc7;
  border-radius: 5px;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 431px;
  left: 153px;
  width: 198px;
  height: 48px;
  background-color: #09ccc7;
  border-radius: 12px;
}

.desktop .text-wrapper-8 {
  top: 441px;
  left: 186px;
  font-family: 'Manrope-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .group-3 {
  position: absolute;
  top: 644px;
  left: 120px;
  width: 284px;
  height: 320px;
}

.desktop .mask-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 282px;
  height: 320px;
}

.desktop .text-wrapper-9 {
  top: 274px;
  left: 12px;
  font-family: 'Manrope-Regular', Helvetica;
  color: #f5f5f5;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .vector-10 {
  position: absolute;
  width: 3.17%;
  height: 4.69%;
  top: 91.02%;
  left: 91.29%;
}

.desktop .group-4 {
  position: absolute;
  top: 644px;
  left: 426px;
  width: 282px;
  height: 320px;
}

.desktop .group-5 {
  position: absolute;
  top: 644px;
  left: 732px;
  width: 282px;
  height: 320px;
}

.desktop .group-6 {
  position: absolute;
  top: 644px;
  left: 1038px;
  width: 282px;
  height: 320px;
}

.desktop .rectangle-6 {
  position: absolute;
  top: 76px;
  left: 0;
  width: 1400px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(9, 204, 199, 1) 0%,
    rgba(15, 17, 21, 1) 100%
  );
}
